<template>
    <div class="page--player">
        <Queue/>
        <CurrentlyPlaying/>
    </div>
</template>

<script>
    import Queue from '../components/Queue';
    import CurrentlyPlaying from '../components/CurrentlyPlaying';

    export default{
        name: 'Player',
        components:{
            Queue,
            CurrentlyPlaying
        }
    }
</script>

<style lang="scss" scoped>
    .page--player {
        display: flex;
        min-height: 100vh;
    }
</style>