<template>
    <div class="AlbumArtBackground" :style="albumArtBackground">
        <div class="gradient"></div>
    </div>
</template>

<script>
    import * as Vibrant from 'node-vibrant';
    export default {
        name: 'AlbumArtBackground',
        data: ()=>{
            return {
                defaultImgUrl: require('@/assets/allium.jpg')
            };
        },
        computed: {
            albumArtBackground (){
                console.log(this);
                let backgroundImageUrl =  this.$store.state.backgroundImage || this.defaultImgUrl;
                // if(this.$store.state.backgroundImage) {
                    Vibrant
                        .from(backgroundImageUrl)
                        .getPalette((err, palette) => {
                            console.log(palette);
                            this.$store.commit('setColorPallete', palette);
                        });
                    return 'background-image: url('+backgroundImageUrl+")";
                // }
                return '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .AlbumArtBackground{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        background: url("../assets/allium.jpg") center ;
        background-size: cover;
        filter: blur(10px);
        transform: scale(1.1);
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,1) 100%);
        }
    }
</style>
