<template>
    <div class="coverArt">
        <img :src="currentTrackCoverArt" :height="height" :width="width">
    </div>
</template>
<script>
    export default {
        name: 'CoverArt',
        props:{
            height: '76px',
            width: '76px'
        }
        computed: {
            currentTrackCoverArt (){
                if(this.$store.state.currentTrack) {
                    return this.$store.state.currentTrack.album.images[0];
                }
                return '';
            }
        }
    }
</script>

<style lang="scss">
    .coverArt{
        img{
            margin-top: 5px;
            background-color: #999999;
            outline: 5px solid rgba(0,0,0,0.5);
        }
    }
</style>