<template>
    <div class="currentlyPlaying">
        <div class="playing">
            <div class="albumArt">
                <img v-bind:src="currentTrackCoverArt">
            </div>
            <div class="currentScrub">
                <div class="currentTime">
                    {{currentTrackPosition}}
                </div>
                <div class="scrub">
                    <div class="scrub-inner" :style="currentScrubPosition"></div>
                </div>
                <div class="totalTime">
                    {{currentTrackLength}}
                </div>
            </div>
            <div class="songInfo">
                <div class="songTitle">
                    {{ currentTrackTitle }}
                </div>
                <div class="albumTitle">
                    {{ currentTrackAlbum }}
                </div>
                <div class="artistTitle">
                    {{ currentTrackArtists }}
                </div>
            </div>
        </div>
        <div class="backgroundContainer" :style="backgroundColor">
            <div class="background"  v-bind:style="albumArtBackground">
            </div>
        </div>
    </div>
</template>

<script>
    import * as Vibrant from 'node-vibrant';
    function millisToMinutesAndSeconds(millis) {
        var minutes = Math.floor(millis / 60000);
        var seconds = ((millis % 60000) / 1000).toFixed(0);
        return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
    }
    export default {
        name: 'CurrentlyPlaying',
        data: ()=>{
            return {
                defaultImgUrl: require('@/assets/allium.jpg'),
                backgroundColor: "#000000"
            };
        },
        methods:{
            getBackgroundColor: function(){
                if(this.$store.state.colorPallete) {
                    return 'background-color: rgba('
                        +this.$store.state.colorPallete.DarkVibrant.r+','
                        +this.$store.state.colorPallete.DarkVibrant.g+','
                        +this.$store.state.colorPallete.DarkVibrant.b
                        +', 0.8);'
                }
                return "";
            }
        },
        computed: {
            currentTrackTitle (){
                console.log(this.$store.state.currentTrack);
                if(this.$store.state.currentTrack) {
                    return this.$store.state.currentTrack.name;
                }
                return '';
            },
            currentTrackArtists(){
                if(this.$store.state.currentTrack) {
                    var artistNames='';
                    this.$store.state.currentTrack.artists.forEach(function(data){
                        artistNames+=data.name+' ';
                    });
                    return artistNames;
                }
                return '';
            },
            currentTrackAlbum (){
                if(this.$store.state.currentTrack) {
                    return this.$store.state.currentTrack.album.name;
                }
                return '';
            },
            currentTrackCoverArt (){
                if(this.$store.state.currentTrack) {
                    return this.$store.state.currentTrack.album.images[0];
                }
                return '';
            },
            currentTrackLength(){
                if(this.$store.state.currentTrack) {
                    return millisToMinutesAndSeconds(this.$store.state.currentTrack.length);
                }
                return '';
            },
            currentTrackPosition(){
                if(this.$store.state.currentTrackPosition) {
                    return millisToMinutesAndSeconds(this.$store.state.currentTrackPosition);
                }
                return '';
            },
            currentScrubPosition(){
                if(this.$store.state.currentTrackPosition) {
                    return "width:"+this.$store.state.currentTrackPosition/this.$store.state.currentTrack.length*100+"%;" + this.getBackgroundColor();
                }
                return 'width:0;';
            },
            albumArtBackground (){
                console.log(this);
                let backgroundImageUrl =  this.$store.state.backgroundImage || this.defaultImgUrl;
                // if(this.$store.state.backgroundImage) {
                Vibrant
                    .from(backgroundImageUrl)
                    .getPalette((err, palette) => {
                        console.log(palette);
                        this.$store.commit('setColorPallete', palette);
                    });
                return 'background-image: url('+backgroundImageUrl+")";
                // }
                return '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .currentlyPlaying{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        .playing{
            padding: 40px;
            background: white;
            z-index: 2;
            border-radius: 10px;
            box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
            .albumArt{
                width: 100%;
                text-align: center;
                transition: all .3s ease-in-out;
                transform: perspective(900px);
                transform-style: preserve-3d;
                perspective-origin: 100% 30%;

                &:hover{
                    transform: perspective(900px) rotateY(5deg);
                    transform-style: preserve-3d;
                    perspective-origin: 100% 30%;
                }
                img{
                    width: 100%;
                    max-width: 350px;
                    border-radius: 3px;
                    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
                    -webkit-box-reflect:below 0px -webkit-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.1) 100%);
                }
            }
            .currentScrub{
                padding-top: 10px;
                padding-bottom: 10px;
                display: flex;
                align-items: center;
                .currentTime, .totalTime{
                    width: 2em;
                }
                .scrub{
                    flex: 1;
                    background: #9F9F9F;
                    height: 10px;
                    border-radius: 10px;
                    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2);
                    position: relative;
                    overflow: hidden;
                    margin-left: 10px;
                    margin-right: 10px;
                    .scrub-inner{
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 50%;
                        background: #333;
                        height: 10px;
                        transition: all .3s linear;
                    }
                }
            }
            .songInfo{
                text-align: center;
                .songTitle{
                    font-size: 24pt;
                }
                .albumTitle{
                    font-size: 18px;
                }
                .artistTitle{
                    font-size: 14pt;
                    color: #666666;
                }
            }
        }
        .backgroundContainer{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
            background: #000000;
            .background{
                position: absolute;
                top: -20px;
                left: -20px;
                right: -20px;
                bottom: -20px;
                background-position: center center;
                background-size: cover;
                filter: blur(10px);
                opacity: 0.5;
            }
        }
    }
</style>