<template>
    <div class="playBar" :style="backgroundColor">
        <div class="playback">
            {{ playbackState }}
        </div>
        <div class="title">{{ currentTrackTitle }}</div>
        <div class="album">
            {{ currentTrackAlbum }}
        </div>
        <div v-for="artist in currentTrackArtists" class="artists">
            <a :href="'#/artist/'+artist.uri">{{ artist.name }}</a>
        </div>
        <div class="coverArt">
            <img :src="currentTrackCoverArt">
        </div>
    </div>
</template>

<script>
export default {
    name: 'PlayBar',
    computed: {
        playbackState () {
            return this.$store.state.playbackState;
        },
        currentTrackTitle (){
            console.log(this.$store.state.currentTrack);
            if(this.$store.state.currentTrack) {
                return this.$store.state.currentTrack.name;
            }
            return '';
        },
        currentTrackArtists(){
            if(this.$store.state.currentTrack) {
                return this.$store.state.currentTrack.artists;
            }
            return [];
        },
        currentTrackAlbum (){
            if(this.$store.state.currentTrack) {
                return this.$store.state.currentTrack.album.name;
            }
            return '';
        },
        currentTrackCoverArt (){
            if(this.$store.state.currentTrack) {
                return this.$store.state.currentTrack.album.images[0];
            }
            return '';
        },
        backgroundColor(){
            if(this.$store.state.colorPallete) {
                return 'background-color: rgba('
                    +this.$store.state.colorPallete.DarkMuted.r+','
                    +this.$store.state.colorPallete.DarkMuted.g+','
                    +this.$store.state.colorPallete.DarkMuted.b
                    +', 0.8);'
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .playBar{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        backdrop-filter: blur(5px);
        height: 86px;
        background: rgba(142, 81, 190, 0.8);

        .playback, .title, .artists, .album, .coverArt{
            display: inline-block;
        }

        .coverArt{
            img{
                height: 76px;
                width: 76px;
                margin-top: 5px;
                background-color: #999999;
                outline: 5px solid rgba(0,0,0,0.5);
            }
        }
    }

</style>
