<template>
    <div class="queue">
        <SearchBlock/>
        <SongQueue/>
    </div>
</template>

<script>
    import SearchBlock from './SearchBlock';
    import SongQueue from './SongQueue';
    export default {
        name: 'Queue',
        components: {
            SearchBlock,
            SongQueue
        }
    }
</script>

<style lang="scss" scoped>
    .queue {
        height: 100vh;
        background: white;
        flex: 1;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 1);
        z-index: 2;
        overflow-y: auto;
    }
</style>