<template>
    <div class="searchBlock">
        <div class="searchBarWrap">
            <input type="text" name="search" class=searchBar
                   placeholder="Search a Song, Album or Artist"
                   v-on:keyup.13="searchThis"
                   v-on:keyup="checkClear"
                   v-on:change="checkClear"
                   v-on:click="checkClear"
            >
        </div>
        <div class="results">
            <div class="song" v-for="song in searchResults" :data-uri="song.uri">
                <!--<div class="albumCover">-->
                    <!--<img v-bind:src="song.album.images[0]">-->
                <!--</div>-->
                <div class="songInfo">
                    <div class="songTitle">
                        {{song.name}}
                    </div>
                    <div class="albumTitle">
                        {{song.album.name}}
                    </div>
                    <div class="artistTitle">
                        <span v-for="artist in song.artists">
                            {{artist.name}}
                        </span>
                    </div>
                </div>
                <div class="addButton">
                    <button type="button" :data-uri="song.uri" v-on:click="addTrack">
                        Add Track
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SearchBlock',
        data: ()=>{
            return {
                searchResults: []
            }
        },
        methods: {
            searchThis: function (event){
                var query = event.currentTarget.value;
                mopidy.library.search({'track_name': [query], 'artist': [query]}).then((data)=>{
                    // Aggregate the data
                    var tracks = [];
                    data.forEach((source)=>{
                        if(source.tracks){
                            tracks = tracks.concat(source.tracks);
                        }
                    });
                    console.log(tracks);
                    this.searchResults = tracks.slice(0, 10);
                });
            },
            checkClear: function(event){
                if(event.currentTarget.value==""){
                    this.searchResults = [];
                }
            },
            addTrack: function(event){
                var uri = event.currentTarget.getAttribute('data-uri');
                mopidy.tracklist.add({uri:uri});

                this.searchResults = [];
            }
        }
    }
</script>

<style lang="scss" scoped>
    .searchBlock{
        padding: 20px;
        .searchBarWrap{
            width: 100%;
            .searchBar{
                width: 100%;
                padding: 10px 20px;
                box-sizing: border-box;
                font-size: 16pt;
                background: #EFEFEF;
                border-radius: 100px;
                border: 2px solid transparent;
                box-shadow:0px 2px 2px rgba(0,0,0,0.2);
                transition: all .2s linear;
                &:focus{
                    outline: none;
                    border: 2px solid #779;
                }
            }
        }
        .results{
            .song{
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: 10px;
                border-bottom: 1px solid #EFEFEF;
                border-top: 1px solid #EFEFEF;
                .albumCover{
                    max-width: 50px;
                    margin-right: 20px;
                    img{
                        width: 100%;
                    }
                }
                .songInfo{
                    font-size: 10pt;
                    flex: 1;
                }
                .addButton{
                    button{
                        background: #EFEFEF;
                        border: none;
                        padding: 20px;
                        cursor: pointer;
                        &:hover{
                            background: #DFDFDF;
                        }
                    }
                }
            }
        }
    }
</style>