<template>
    <div class="component--songqueue">
        <div class="queueTitle">Queue ({{trackList.length}})</div>
        <div class="currentQueue">
            <div class="song" v-for="track in trackList" :data-uri="track.uri">
                <div class="albumCover">
                    <img v-bind:src="track.album.images[0]">
                </div>
                <div class="songInfo">
                    <div class="songTitle">
                        {{track.name}}
                    </div>
                    <div class="albumTitle">
                        {{track.album.name}}
                    </div>
                    <div class="artistTitle">
                        <span v-for="artist in track.artists">
                            {{artist.name}}
                        </span>
                    </div>
                </div>
                <div class="songActions">
                    <div class="voteDown" v-on:click="voteDown">
                        <div class="numVotes">
                            <span>3</span>
                        </div>
                        <i class="material-icons">
                            thumb_down
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'SongQueue',
        methods:{
            voteDown: function(event){
                var uri = event.currentTarget.closest(".song").getAttribute('data-uri');
                window.exampleSocket.send(JSON.stringify({'action':'vote', 'uri':uri}));
            }
        },
        computed: {
            trackList() {
                if (this.$store.state.trackList) {
                    return this.$store.state.trackList;
                }
                return [];
            }
        }
    }
</script>

<style lang="scss" scoped>
    .queueTitle{
        font-size: 24px;
        text-align: center;
        color: #DFDFDF;
    }
    .currentQueue{
        .song{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #EFEFEF;
            border-top: 1px solid #EFEFEF;

            .songInfo{
                flex: 1;
            }

            &:first-child{
                background: #EFEFEF;
                & .songActions:before{
                    content: 'Now Playing';
                    display: inline-block;
                    color: #999999;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            &:nth-child(2){
                & .songActions:before{
                    content: 'Up Next';
                    display: inline-block;
                    color: #999999;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            .albumCover{
                max-width: 70px;
                margin-right: 20px;
                img{
                    width: 100%;
                }
            }
            .songActions{
                display: flex;
                padding-left: 20px;
                padding-right: 20px;
                .voteDown{
                    cursor: pointer;
                    position: relative;
                    transform: scale(0.8);
                    transition: all .1s linear;
                    user-select: none;
                    &:hover{
                        transform: scale(1);
                    }
                    &:active{
                        transform: scale(1.2);
                    }
                    i.material-icons{
                        font-size: 26pt;
                        vertical-align: middle;
                    }
                    &.voted{
                        color: #dd2613;
                    }
                    &.youvoted{
                        transform: scale(1.2);
                    }
                    .numVotes{
                        display: inline-block;
                        color: black;
                        font-size: 18pt;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
</style>