<template>
  <div id="wrapper">
    <router-view />
  </div>
</template>

<script>
// import PlayBar from './components/PlayBar.vue'
// import AlbumArtBackground from "./components/AlbumArtBackground";

export default {
  name: 'app',
  components: {
    // AlbumArtBackground,
    // PlayBar
  },
  computed: {
  }
}
</script>

<style lang="scss">
  @import url(https://fonts.googleapis.com/css?family=Poppins|Material+Icons);
  body, html{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
</style>
